.header-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.avatar-image {
  width: 45px;
  margin-right: 10px;
  margin-top: 10px;
}

.header-profile__name {
  font-size: 16px;
  color: #2ac4e2;
  margin-bottom: 5px;
  margin-top: 5px;
}

.header-profile__title {
  font-size: 12px;
  color: gray;
}
