.add-client-form {
  margin-top: 30px;
}
.add-client-form > div {
  display: inline-block;
  margin-left: 15px;
}

.add-client-form input {
  height: 45px;
  width: 100%;
  border-radius: 2px;
  border: 2px solid lightslategray;
  outline: none;
  color: #335971;
  padding-left: 5px;
}

#add-client-error {
  margin: 0;
}

.lastname-client-input,
.firstname-client-input {
  width: 42%;
}
.email-client-input {
  width: 85%;
}

.court-case-input,
.judge-client-input {
  width: 33%;
}

.phone-case-input {
  width: 32%;
}

.street-client-input {
  width: 85%;
}

.add-client-btn {
  display: block;
  margin: 0 auto;
  background: #2ac4e2;
  color: white;
  border: none;
  padding: 15px;
  width: 50%;
  margin-top: 15px;
}