.register-background {
  background-image: url('../../assets/images/building-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.register-form {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box, .form-info {
  width: 600px;
  min-height: 400px;
  background-color: #fff;
}

.form-info {
  height: 578px;
  background-color: rgba(242, 171, 41, 0.8);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-logo {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-info, .app-name {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}

.register-description {
    width: 100%;
    margin-top: 30px;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
}

.register-description p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.register-fields {
  width: 100%;
  margin-top: 50px;
}

.register-fields label {
  padding-left: 40px;
  color: #A19E7A;
}

.register-fields input {
  display: block;
  border: 0;
  outline: 0;
  margin: 0 auto;
  min-width: 80%;
  background: transparent;
  border-bottom: 1px solid #DDDDD6;
  margin-bottom: 25px;
}

.signup-btn {
  display: block;
  background-color: #ECA602;
  padding: 10px;
  border: none;
  color: #fff;
  margin-bottom: 25px;
  width: 90%;
  margin: 20px auto;
}

.or-login {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: lightslategray;
}

.login-link {
  display: block;
  text-align: center;
  margin-bottom: 25px;
  color: #ECA602;
}

@media (max-width: 767px) {
 .register-form {
   display: inline-block;
   height: 100%;
 }

 .form-box {
   width: 100%;
   margin-top: -50px;
 }

 .register-fields {
   padding-top: 50px;
 }

 .form-info {
   margin-top: -40px;
   height: 150px;
   width: 100%;
 }

 .register-logo {
   padding-top: 20px;
 }

 .login-link {
   padding-bottom: 25px;
 }
 }