.header {
  height: 100%;
  background: #bcbbbb;
}

.header .row {
  height: 100%;
  align-items: center;
  margin: 0;
}

.header-title {
  color: #445779;
}

.header-logout {
  display: flex;
  justify-content: flex-end;
}

.logout {
  font-size: 24px;
  color: #738d9c;
  background: none;
  border: none;
}

.logout:hover {
  cursor: pointer;
  color: #a3cfd9;
  transition-duration: 0.2s;
}
