.header {
  height: 100%;
  background: #bcbbbb;
}

.header .row {
  height: 100%;
  align-items: center;
  margin: 0;
}

.header-title,
.fa-bell {
  color: #445779;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  margin: 0;
}

.header-nav li {
  margin-right: 25px;
}

.header-nav a,
.header-nav a:active,
.logout,
.fa-bell {
  color: #738d9c;
  font-size: 24px;
  text-decoration: none;
}

.header-nav a:hover,
.logout:hover {
  cursor: pointer;
  color: #a3cfd9;
  transition-duration: 0.2s;
}

.logout {
  color: #738d9c;
  background: none;
  border: none;
}